.content ul {

        list-style-image: url("data:image/svg+xml,%3Csvg width='9' height='9' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%2300f2a8' d='M0 0h10v10H0z'/%3E%3C/svg%3E");
        & li{
            padding-left: .75em;
        }

}

div[class='service-content'] {
    ul {
        // @extend .list-group;
        color: $secondary;
        font-weight: 400;
        font-size: 0.9rem;
        padding-left: 10%;
        list-style-image: url("data:image/svg+xml,%3Csvg width='9' height='9' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%2300f2a8' d='M0 0h10v10H0z'/%3E%3C/svg%3E");
        & li{
            padding-left: .75em;
        }

    }

/*     li {
        // @extend .list-group-item;
        color: $secondary;
        font-weight: 400;
        font-size: 0.9rem;
        list-style: circle;
    } */
}

ul ~ p {
    margin-top: 1rem;
}
